
h1,h2,h3,p{
    margin:0;
    padding:0;
    color:#9a9a9a;
}
img{
    width:100%;
}

.header{
    background-color: #29bde0;
}


.wrap{
    background-color: #f0f0f0;
}



.content{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top: 17%;
    height: 80%;
    background-color:#f0f0f0;
    text-align: center;
    overflow: auto;
}

.content .wrapp{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.content li{
    list-style-type: none;
}

.content-top{
    position: relative;
    background-color: white;
    margin-bottom:5%;
}

.content-top h1{
    font-size: 1.6rem;
    font-weight: 500;
    color:#9a9a9a;
    padding: 7% 0;
    display:inline-block;
}

.content-top .img{
    position: absolute;
    right:2%;
    top: 33%;
    width: 1.2rem;
}

.content-mid a{
    color: white;
    text-decoration: none;
}

.content-mid{
    background-color:#f0f0f0;
}
.content-mid ul{
    position: relative;
    margin:0;
    padding: 2% 8%;
    background-color:white;
}
.content-mid h2{
    font-size: 1.5rem;
    font-weight: 500;
    color:#fbb435;
    padding: 6% 0;
    border-bottom:1px solid #fbb435;
    background-color: white;
}

.content-mid h3{
    font-size: 1.6rem;
    font-weight: 500;
    color:white;
    padding: 4% 0;
    background-color:#69d1e9;
    border-radius: 3px;
}

.content-mid li p{
    font-size: 1.1rem;
    background-color:white;
    padding: 3% 0;
}

.content-mid .float-middle{
    position: absolute;
    top:36%;
    right:2%;
    width: 1rem;
}


