html,body
{
    height:100%;
    min-width:320px;
    margin:0;
     padding:0;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

.header p{
    margin:0;
}

.wrap{
    position:relative;
    max-width:640px;
    height:100%;
    margin:0 auto;
    background-color: #29bde0;
}

.header{
    height: 2rem;
    border-bottom:1px solid rgba(158, 139, 139, 0.12);
    background-color: #29bde0;
}
.left{
    float:left;
    padding-left:0.5rem;
    line-height: 2rem;
}

.right{
    float:right;
    padding-right:0.5rem;
    line-height: 2rem;
}

.header .right img{
    width:80%;
}

.header p{
    color:white;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;

}

.circle{
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: white;
    display:inline-block;
    vertical-align: middle;
}
@media screen and (min-width:320px){
  html{
      font-size:12px;
  }
}

@media screen and (min-width:375px){
    html{
        font-size:15px;
    }

}

@media screen and (min-width:414px){
    html{
        font-size:19px;
    }
}

@media screen and (min-width:641px){
    html{
        font-size:20px;
    }
}