html,body
{
    height:100%;
    min-width:320px;
    margin:0;
     padding:0;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

.header p{
    margin:0;
}

.wrap{
    position:relative;
    max-width:640px;
    max-height:1136px;
    min-height: 480px;
    height:100%;
    width: 100%;
    margin:0 auto;
    background-color: #29bde0;
}

.header{
    height: 2rem;
    border-bottom:1px solid rgba(158, 139, 139, 0.12);
    background-color: #29bde0;
}
.left{
    float:left;
    padding-left: 1rem;
    line-height: 2rem;
}

.right{
    float:right;
    padding-right: 0.8rem;
    padding-top: 0.2rem;
}

.header .right img{
    width: 90%;
}

.header p{
    color:white;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;

}

.circle{
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: white;
    display:inline-block;
    vertical-align: middle;
}

.nav-onestyle {
    background-color: #29bde0;
    height:4rem;
}

.nav-onestyle img{
    max-width:30px;
    margin:1rem;
    width:100%;
}

.nav-style2{
    height:3rem;
    background-color: #29bde0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-style2 img{
    width: 100%;
    vertical-align: middle;
}

.nav-style2 .left{
    float:left;
    width: 1.8rem;
    line-height: 3rem;
    padding-left: 1rem;
}

.nav-style2 .right{
    float:right;
    display: inline-block;
    width: 1.8rem;
    line-height: 2.5rem;
    padding-right: 1rem;
}

.nav-style2 p{
    display: inline-block;
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    color: white;
    padding:0;
    margin:0;
}

.circle2{
    width:0.6rem;
    height:0.6rem;
    border-radius: 50%;
    background-color:#f0f0f0;
    display:inline-block;
}

.active,
.circle2:hover{
    background-color:#69d1e9;
}
@media screen and (min-width:320px){
  html{
      font-size:12px;
  }
}

@media screen and (min-width:375px){
    html{
        font-size:15px;
    }

}

@media screen and (min-width:414px){
    html{
        font-size:19px;
    }
}

@media screen and (min-width:641px){
    html{
        font-size:20px;
    }
}