h2, h3, p, pre, span, h4 {
    margin: 0;
    padding: 0;
}

.content-top .imgg {
    margin: 4% 0;
    text-align: center;
}

.content-top .imgg img {  width: 55%;}

.content-top h2 {
    width: 80%;
    margin: 0 auto 5% auto;
    color: #ffc865;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.content-bottom {
    width: 80%;
    margin: 0 auto;
}

.content-bottom pre {
    margin: 0.5rem 0;
    color: white;
    font-weight: 500;
}

.content-bottom pre > span {

}

.dbbut {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    text-align: center;
    background-color: rgba(41, 189, 224, 0.5);
}

.dbbut #redbutton {
    background-color: #f66f6f;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    padding: 2.5% 0;
}

.dbbut #orangebutton {
    background-color: #fbb435;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    padding: 2.5% 0;
}

.content-bottom-show {
    background-color: white;
    padding-left: 10%;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

.content-bottom-show h3 {
    font-weight: 500;
    padding: 1% 0;
    color: #515151;
}

.content-bottom-show p {
    color: #a6a6a6;
    padding: 0.5% 0;
}

.content-bottom-show span {

}

.content-bottom-show h4 {
    color: #d6d6d6;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 15%;
    padding: 2% 0;
}

.dbbut .orangebutton {

}

button {
    width: 45%;
    height: 80%;
    border-radius: 7px;
    border: none;
    margin: 2% 2%;
}

