
.wrap{
    background-color:#f0f0f0 ;
}

.content{
    width:93%;
    height: 81%;
    margin:5% auto 1% auto;
    background-color:#f7f7f7;
    text-align: center;
    display: block;
    border: 1px solid #c9c9c9;
}

.wrap .top{
height: 14%;
position: relative;
}

.content .top h2{
    padding: 5%;
    color:#24a7c6;
    margin: 0;
    font-weight: 600;
}

.content .top .img{position: absolute;top: 40%;right: 3%;width: 8%;}

.content .top img {
width: 75%;
}

.middle{
    height: 86%;
    border-top: 1px solid #c9c9c9;
}

.content .middle .left{background: url("桌游精灵-img/桌游精灵-流程-gray.png") repeat-y center 0;height: 100%;display: inline-block;float: left;position: relative;padding: 0;width: 4rem;}


.middle .left .img2{width: 2.2rem;height: 2.2rem;background-color: white;border: 2px solid #c9c9c9;border-radius: 50%;position: absolute;top: 2rem;margin-left: 18%;}

.middle .left .img2 img{
    width: 76%;
    padding: 11% 0;
}

.middle .left .img3 img{width: 60%;padding: 12% 0;}
.middle .left .img3{width: 2.2rem;height: 2.2rem;background-color: white;border: 2px solid #c9c9c9;border-radius: 50%;position: absolute;bottom: 2rem;margin-left: 18%;}

.middle .right{

}

.range{
    background-color: #24a7c6;
    border-top:5px solid #24a7c6;
    border-right:5px solid #24a7c6;
    border-bottom:5px solid #24a7c6;
}
